.page-title {
    margin: 0;
    padding: 1rem 0;
    text-align: center;


}

.page-title__author {
    color: $light-color;
    margin: 0;
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}